.nav__header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    position: fixed;
    z-index: 4;
    background-color: #fff;
}
.nav__nav{
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 100%;
    transform: translateX(100vw);
    transition: 
    transform 350ms ease-out;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}
.nav__list{
    width: 85vw;
    max-width: 400px;
    background: linear-gradient(#008262,#003027);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav__nav--show{
    transition: 
    transform 350ms ease-out,
    background-color 500ms ease-out 300ms;
    transform: translateX(0vw);
    background-color: rgba(0, 0, 0, 0.425);
}
.nav__item{
    list-style: none;
    padding: 12px;
    font-size: 18px;
}
.nav__item span{
    margin-left: 8px;
}
.nav__item--perfil{
    margin: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid black;
}
.nav__item--perfil h1{
    color: #eaeaea;
    font-size: 20px;
    font-weight: 600;
}
.nav__item--perfil a{
    font-size: 13px;
    font-weight: 400;
    color: #bcbcbc;
}
/*ESTE ES DE PRUEBA POR LA IMAGEN*/
.nav__item--perfil div.imagen{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #a2a3a3;
}
/*********************************/
.nav__item a{
    text-decoration: none;
    color: #eaeaea;
}

